<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />

<body>
  <div class="home-container">
    <div class="home-navigation">
      <a class="home-nav-link active" href="/admin">Home</a>
      <% if(!member) { %>
      <a class="home-nav-link" href="/admin/signup">Signup</a>
      <a class="home-nav-link" href="/admin/login">Login</a>
      <% } else { %>
      <a class="home-nav-link" href="/admin/product/all">Menu</a>
      <a class="home-nav-link" href="/admin/event/all">Events</a>
      <a class="home-nav-link" href="/admin/user/all">Users</a>
      <a class="home-nav-link" href="/admin/order/all">Orders</a>
      <a class="home-nav-link" href="/admin/logout" onclick="return confirm('Do you want to logout?')">Logout</a>
      <% } %>
    </div>
  </div>
<%- include('includes/footer') %>
